*{
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{

}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(118, 173, 255);
    height: 70px;
    padding: 1rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#logo{
    width: 10rem;
}

#btnMobile{
    background: none;
}


#menu{
    display: block;
    position: absolute;
    background-color: rgb(118, 173, 255);
    height: 0px;
    width: 50%;
    top: 70px;
    right: 0;
    z-index: 1000;
    border-radius: 0 0 0 10px;
    visibility: hidden;
    transition: .6s;
    overflow: hidden;
    text-align: center;
}

#nav.active #menu{
    visibility: visible;
    height: calc(50vh - 70px);
}

#menu a{
    display: block;
    border-bottom: 2px solid rgba(0, 0, 0, .05);
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1rem 0;
}

@media(min-width: 600px) {
    #btnMobile{
        display: none;
    }

    #menu{
        display: flex;
        gap: 1rem;
        position: initial;
        height: initial;
        width: 100%;
        top: initial;
        right: initial;
        z-index: 1000;
        border-radius: 0;
        visibility: visible;
        transition: 0;
        overflow: hidden;
        text-align: center;
    }
    
    #nav.active #menu{
        visibility: visible;
        height: initial;
    }

    #menu a{
        display: block;
        border-bottom: 0px;
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: .5rem;
    }

    #menu a:hover{
        background-color: rgba(1, 0, 0, 0.102);
        border-radius: 10px;
    }
    
}