*{
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    border: 0;
    font-family: 'Kanit', sans-serif;
    color: black;
}

html{
    height: 100%;
}

body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-image: url("../img/fundosite.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 80%;
    text-align: center;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    background-color: rgb(255, 255, 255);
    border: solid rgba(0, 0, 0, 0.55) 1px;
    border-radius: 5px;   
}

section div ul{
    width: 80%;
    text-align: left;
}

section p{
    width: 80%;
    font-size: 1.4rem;
}

section div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 100px;
}

section h1{
    color: rgba(0, 0, 0, 0.923);
    /* background-color: rgba(114, 18, 223, 0.363); cor de fundo do h1 */
    width: 16rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.723);
}

section img{
    width: 15rem;
    height: 9rem;
    border-radius: 10px;
}

@media(min-width: 700px) {
    section{
        width: 60%;
    }

    section img{
        height: 18rem;
        width: 30rem;
        border-radius: 20px;
    }
}

@media(min-width: 1500px){
    html{
        font-size: 1.5rem;
    }
}