*{
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    border: 0;
    font-family: 'Bebas Neue', cursive;
}

html{
    height: 100%;
}

body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    text-align: center;
    padding: 1rem 1rem;
    /* background-color: rgb(173, 199, 255);  */
    background-image: linear-gradient(rgba(184, 249, 255, 0.618), rgb(255, 255, 255), rgb(143, 203, 255));
}

section div ul{
    width: 80%;
    text-align: left;
}

section div ul li{
    font-size: 1.4rem;
}

section p{
    width: 80%;
    font-size: 1.4rem;
}

section div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 100px;
}

section div h1{
    color: rgba(0, 0, 0, 0.923);
    background-color: rgba(255, 255, 255, 0.249);
    width: 16rem;
    border-radius: 5px;
    border: 1px rgba(0, 0, 0, 0.362) solid;
}

section img{
    height: 10rem;
    width: 15rem;
    border-radius: 20px;
}

@media(min-width: 600px) {
    section img{
        height: 18rem;
        width: 30rem;
        border-radius: 20px;
    }
}