<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sigma Commerce</title>
    <link rel="stylesheet" href="../style/contato.css">
    <link rel="stylesheet" href="../style/menu.css">
    <link rel="stylesheet" href="../style/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="../img/lampada.png">
</head>
<body>

    <header>
        <a href="./index.html"><img src="../img/logo.png" alt="logo" id="logo"></a>
        <nav id="nav">
            <button id="btnMobile">MENU</button>
            <ul id="menu">
                <li><a href="./quemsomos.html" target="">QUEM SOMOS</a></li>
                <li><a href="./sustentabilidade.html" target="">SUSTENTABILIDADE</a></li>
                <li><a href="./contato.html" target="">CONTATO</a></li>
            </ul>
        </nav>
    </header>

    <section id="content">
        <form action="">
            <h1>Preencha o formulario e responderemos em breve.</h1>
            <input type="text" placeholder="Digite aqui o seu nome">
            <input type="text" placeholder="Digite aqui o seu email">
            <input type="text" placeholder="Digite aqui o seu telefone">
            <input type="text" placeholder="Digite aqui sua mensagem" id="mensagem">
            <input type="submit">
        </form>
    </section>

    <footer>
        <ul>
            <li>Rua Limões Laranjas<br> n° 345 - São Paulo SP</li>
            <li>11 912345678</li>
            <li>sigmacommerce@gmail.com</li>
        </ul>
        <div>
            <img src="../img/whatsapp.png" alt="">
            <img src="../img/facebook.png" alt="">
            <img src="../img/instagram.png" alt="">
          </div>
    </footer>

<script src="../script/script.js"></script>
</body>
</html>