<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sigma Commerce</title>
    <link rel="stylesheet" href="../style/homepage.css">
    <link rel="stylesheet" href="../style/menu.css">
    <link rel="stylesheet" href="../style/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@200&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <a href="./index.html"><img src="../img/logo.png" alt="logo" id="logo"></a>
        <nav id="nav">
            <button id="btnMobile">MENU</button>
            <ul id="menu">
                <li><a href="./quemsomos.html" target="">SOBRE A EMPRESA</a></li>
                <li><a href="./sustentabilidade.html" target="">SUSTENTABILIDADE</a></li>
            </ul>
        </nav>
    </header>

    <div id="slider">
        <figure>
            <img src="../img/Página 1.png" alt="">
            <img src="../img/Página 2.png" alt="">
            <img src="../img/Página 3.png" alt="">
            <img src="../img/Página 4.png" alt="">
            <img src="../img/Página 5.png" alt="">
        </figure>
    </div>


    <footer>
        <ul>
            <li><a href="./quemsomos.html" target="">SOBRE A EMPRESA</a></li>
            <li><a href="./sustentabilidade.html" target="">SUSTENTABILIDADE</a></li>
        </ul>
    </footer>

<script src="../script/script.js"></script>
</body>
</html>