<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem somos?</title>
    <link rel="stylesheet" href="../style/quemsomos.css">
    <link rel="stylesheet" href="../style/menu.css">
    <link rel="stylesheet" href="../style/footer.css">
</head>
<body>

    <header>
        <a href="./index.html"><img src="../img/logo.png" alt="logo" id="logo"></a>
        <nav id="nav">
            <button id="btnMobile">MENU</button>
            <ul id="menu">
                <li><a href="./quemsomos.html" target="">SOBRE A EMPRESA</a></li>
                <li><a href="./sustentabilidade.html" target="">SUSTENTABILIDADE</a></li>
            </ul>
        </nav>
    </header>

    <section id="sobre">
        <h1>SOBRE A EMPRESA</h1>
        <img src="../img/quemsomosimg.jpg" alt="Sobre a empresa">
        <div>
            <h1>Quem somos?</h1>
            <p>
                Formado em 2012 por um grupo de pessoas apaixonadas por tecnologia, a Sigma Commerce é uma das maiores empresas do ramo de sensores, trabalhando com grandes marcas varejistas por todo o país. 
                Contamos com diversas distribuições para a indústria, desde sensores para automatizar serviços, até sensores de segurança. Nossas soluções chegam quando
                o mercado corre para se adequar as rápidas mudanças tecnológicas e suas automações.
            </p>
        </div>
        
        <div>
            <h1>Missão</h1>
            <p>
                A missão da Sigma Commerce é inovar a forma que você faz suas compras, com um sensor que lê o código de barras e manda o produto para o app, 
                assim facilitando a forma de pagamento que pode ser:
                VA, cartão de débito ou cartão de crédito dentro do app, atendendo a todo tipo de varejista.
            </p>
        </div>

        <div>
            <h1>Visão</h1>
            <p>
                A Sigma Commerce tem como objetivo conquistar um espaço internacional
                e nacional por meio da inovação nos sistemas de compras sendo reconhecida 
                mundialmente como uma empresa pioneira em seu setor com qualidade, 
                excelência e confiabilidade em nossos produtos.
            </p>
        </div>

        <div>
            <h1>Valores</h1>
            <ul id="a">
                <li><strong>Ética</strong> – Orienta nossa conduta, tem como finalidade o bem comum;</li>
                <li><strong>Trabalho em equipe</strong> – Colaboração e respeito aos parceiros comerciais;</li>
                <li><strong>Qualidade</strong> – Excelência do produto;</li>
                <li><strong>Inovação</strong> – Implementação de novas ideias a melhorias para nossas mercadorias;</li>
                <li><strong>Responsabilidade</strong> – Compromisso com o cliente;</li>
                <li><strong>Agilidade</strong> – Eficiência na instalação e funcionamento dos nossos produtos;</li>
            </ul>      
        </div>   
    </section>

    <footer>
        <ul>
            <li><a href="./quemsomos.html" target="">SOBRE A EMPRESA</a></li>
            <li><a href="./sustentabilidade.html" target="">SUSTENTABILIDADE</a></li>
        </ul>
    </footer>

<script src="../script/script.js"></script>
</body>
</html>