<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sustentabilidade</title>
    <link rel="stylesheet" href="../style/sust.css">
    <link rel="stylesheet" href="../style/menu.css">
    <link rel="stylesheet" href="../style/footer.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="../img/floresta2.jpg">
</head>
<body>

    <header>
        <a href="./index.html"><img src="../img/logo.png" alt="logo" id="logo"></a>
        <nav id="nav">
            <button id="btnMobile">MENU</button>
            <ul id="menu">
                <li><a href="./quemsomos.html" target="">SOBRE A EMPRESA</a></li>
                <li><a href="./sustentabilidade.html" target="">SUSTENTABILIDADE</a></li>
            </ul>
        </nav>
    </header>
    
    <section>
        <!-- <img src="../img/sust2.jpeg" alt="" id="img1"> -->
        <div>
        <h1>Nós da Sigma Commerce nos comprometemos com o meio ambiente e com o desenvolvimento sustentável para preservação do nosso planeta. Para isso, tomamos medidas ecológicas como:</h1>
            <ul>
                <li>
                    <h1>Reduzir o consumo de energia.</h1>
                    <p>Instalamos diversos painéis solares em nossa sede de produção, além de sensores de presença para determinar se é necessário ou não manter luzes ou máquinas ligadas na ausência de um funcionário.</p>
                </li>
                <li>
                    <h1>Reciclagem e descarte correto.</h1>
                    <p>Nossos projetos demandam a produção e a utilização de muitos sensores e por conta disso reciclamos e utilizamos a matéria prima de sensores velhos ou quebrados para a produção de novos. Além disso fazemos o descarte correto em postos especializados na coleta.</p>
                </li>
                <li>
                    <h1>Damos preferência ao digital.</h1>
                    <p>Em vez de papel, utilizamos os serviços digitais como a nuvem para armazenar nossas informações e documentações.</p>
                </li>
                <li>
                    <h1>Trabalhar com fornecedores que tenham compromisso sustentável.</h1>
                    <p>Não faz sentido seguirmos medidas ecológicas e ter como parceiros empresas que não seguem este compromisso. Portanto damos prioridade a empresas que valorizam os mesmos aspectos sustentáveis em que acreditamos.</p>
                </li>
            </ul>
        </div>
    </section>

    <footer>
        <ul>
            <li><a href="./quemsomos.html" target="">SOBRE A EMPRESA</a></li>
            <li><a href="./sustentabilidade.html" target="">SUSTENTABILIDADE</a></li>
        </ul>
    </footer>

<script src="../script/script.js"></script>
</body>
</html>